@import "bootstrap";
@import "vue-flash-message/dist/vue-flash-message.min.css";

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sign in */
body {
  padding-top: 50px;
}

.form-generic {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  a {
    font-size: 18px;
  }
  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.form-password-reset {
  max-width: 500px;
}
.form-registration {
  max-width: 400px;
}
.form-post {
  max-width: 100%;
  textarea {
    min-height: 500px;
  }
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.user-info {
  float: left;
}

.gravatar {
  width: 100%;
}